.wrapper {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout {
    flex-grow: 1;
    background-color:bisque;
    /* height: 200px; */
    overflow: auto;
}

.footer {
    background-color:beige;
    height: 10vh;
    /* width: 100%; */
}

.mainC {
    background-color :rgb(188, 227, 245) ;
    min-height: 100px;
    /* height: 120vh; */
}