.wrapper {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout {
    flex-grow: 1;
    overflow: auto;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.footerContent{
    width: 1400px;
}

.mainC {
    min-height: 100px;
}

.footerOutline {
    border-top : solid 1.5px #dddddd;
}

.footerPadding {
    padding: 80px 20px;
}

.footerImg {
    width: 9rem;
    height: auto;
}

.footerLayout{
    display: flex;
    flex-direction: row;
}